* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

section {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  line-height: 25px;
  font-size: 18px;
}

header {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #221f3a;
  padding-bottom: 7%;
}

@media (max-width: 1350px) {
  header {
    padding: 26px;
  }
}

@media (max-width: 992px) {
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

header .navbar {
  padding: 38px 0;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .logo {
  width: 100px;
}

header .navbar .logo img {
  width: 100%;
}

header .navbar .nav__btn {
  color: #626aef;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 18px 30px;
  border: 2px solid #626aef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

header .navbar .nav__btn:hover {
  background-color: #626aef0a;
  border: 2px solid #221f3a;
}

@media (max-width: 992px) {
  header .navbar .nav__btn {
    padding: 10px 15px;
  }
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 7%;
}

@media (max-width: 768px) {
  header .header {
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  header .header__item {
    max-width: 100%;
    width: 100%;
  }
}

header .header__item.image__item {
  width: 45%;
  margin-left: 18%;
}

header .header__item.image__item img {
  width: 426px;
}

@media (max-width: 992px) {
  header .header__item.image__item {
    margin-left: 0px;
  }
  header .header__item.image__item img {
    width: 300px;
  }
}

@media (max-width: 768px) {
  header .header__item.image__item {
    display: none;
  }
  header .header__item.image__item img {
    display: none;
  }
}

header .header__item i {
  margin-right: 20px;
}

header .header__item .title {
  color: #221f3a;
  font-weight: 600;
  font-size: 80px;
  line-height: 85px;
  max-width: 689px;
}

@media (max-width: 1350px) {
  header .header__item .title {
    font-size: 65px;
    line-height: 75px;
  }
}

@media (max-width: 992px) {
  header .header__item .title {
    font-size: 65px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  header .header__item .title {
    font-size: 40px;
    line-height: 50px;
  }
}

header .header__item .header__list {
  margin-top: 21px;
  position: relative;
  font-size: 28px;
  line-height: 42px;
  color: #221f3a;
}

@media (max-width: 786px) {
  header .header__item .header__list {
    font-size: 18px;
  }
}

header .header__item .form__wrapper {
  max-width: 600px;
  border-radius: 19px;
  padding: 25px 0;
  margin-top: 30px;
}

@media (max-width: 992px) {
  header .header__item .form__wrapper {
    background: transparent;
    max-width: 100%;
    width: 85%;
  }
}

header .header__item .form__wrapper form .input__field {
  position: relative;
}

header .header__item .form__wrapper form .input__field .input {
  width: 100%;
  box-shadow: 2px 3px 7px #221f3a;
  border-radius: 10px;
  padding: 23px 0 20px 20px;
  border: none;
  outline: none;
  -webkit-box-shadow: 2px 3px 7px #221f3a;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 2px 3px 7px #221f3a;
}

@media (max-width: 992px) {
  header .header__item .form__wrapper form .input__field .input {
    border: 1px solid #221f3aa8;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

header .header__item .form__wrapper form .input__field .input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #221f3a;
}

header .header__item .form__wrapper form .input__field .input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #221f3a;
}

header .header__item .form__wrapper form .input__field .input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #221f3a;
}

header .header__item .form__wrapper form .input__field .input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #221f3a;
}

header .header__item .form__wrapper form .input__field .form__btn {
  position: absolute;
  right: -17px;
  top: 4px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #ecf5ff;
  background: #626aef;
  padding: 18px 20px;
  cursor: pointer;
}

header .header__item .form__wrapper form .input__field .form__btn:hover {
  color: #626aef;
  background: #ecf5ff;
}

main > h1 {
  text-align: center;
  margin-top: 7%;
}

.section__info {
  padding: 3% 0 7%  0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 992px) {
  .section__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section__info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #626aef0a;
  padding: 3%;
  margin: 3%;
  border-radius: 12px;
  max-width: 250px;
  width: 250px;
}

.section__info .info__btn {
  background-color: #ecf5ff;
  border: 2px solid #626aef;
  float: right;
  padding: 14px 32px;
  border-radius: 12px;
  margin-top: 3%;
  text-align: center;
  color: #221f3a;
}

.section__info .info__btn:hover {
  background-color: #626aef0a;
  border: 2px solid #221f3a;
}

.section__info .info .item__title {
  color: #221f3a;
  padding: 3%;
}

.section__info .info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__info .info__item.text {
  margin: 10%;
}

.container .cta {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 7%;
}

.container .cta p {
  padding: 5% 0;
  width: 50%;
  margin: auto;
}

@media (max-width: 992px) {
  .container .cta p {
    width: 70%;
  }
}

@media (max-width: 786px) {
  .container .cta p {
    width: 80%;
  }
}

@media (max-width: 386px) {
  .container .cta p {
    width: 100%;
  }
}

.container .cta__btn {
  padding: 14px 32px;
  border-radius: 12px;
  margin-top: 3%;
  text-align: center;
  background-color: #ecf5ff;
  border: 2px solid #626aef;
}

.container .cta__btn a {
  color: #221f3a;
  font-size: 18px;
}

.container .cta__btn:hover {
  border: 2px solid #221f3a;
  background-color: #626aef0a;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  color: #c5cd5a;
  background-color: #221f3a;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  margin: auto;
}

.footer .social-icons a {
  color: #c5cd5a;
}
/*# sourceMappingURL=main.css.map */